<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>UI组件之排序表格</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/furniture.css">
	<script src="/javascripts/jquery-1.9.1.min.js"></script>
</head>
<body background="/images/login.jpg">
	<table>
		<thead>
            <a href="/login.js" target="_blank">登录</a>
            <tr>
                游戏战绩管理界面
            </tr>
			<tr>
				<td colspan="6">
					<input type="button" value="新增" id="add_button">
				</td>
			</tr>
			<tr>
				<td>英雄</span></td>
				<td>位置<span class="upBtn"></span><span class="downBtn"></td>
				<td>战绩<span class="upBtn"></span><span class="downBtn"></td>
				<td>台词<span class="upBtn"></span><span class="downBtn"></td>
				<td>评分<span class="upBtn"></span><span class="downBtn"></td>
			    <td>操作</td>
			</tr>
		</thead>

	</table>
	<script type="text/javascript" src="/javascripts/Table.js"></script>
	<script src="/javascripts/task7.js"></script>
</body>
</html>